In [30]:
import os
from pathlib import Path
from keras.preprocessing import image
import matplotlib.pyplot as plt
import numpy as np

In [31]:
P=Path("./datasets/")
dirs=P.glob('*')
image_data=[]
labels=[]
labels_dict={"Pikachu":0,"Bulbasaur":1,"Meowth":2}
label2pokemon={0:"Pikachu",1:"Bulbasaur",2:"Meowth"}
for folder_dirs in dirs:
    label=str(folder_dirs).split("\\")[-1]
    cnt=0
    for img_path in folder_dirs.glob("*.jpg"):
        img=image.load_img(img_path,target_size=(40,40))
        img_array=image.img_to_array(img)
        image_data.append(img_array)
        labels.append(labels_dict[label])
        cnt+=1
print(cnt)

199

In [32]:
#visualisation
X=np.array(image_data)
Y=np.array(labels)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [35]:
X_test.shape

(89, 40, 40, 3)

In [36]:
from sklearn.neural_network import MLPClassifier

In [45]:
nn=MLPClassifier(activation='relu',solver='adam',hidden_layer_sizes=(100,50),random_state=2,early_stopping=True)

In [46]:
nn.fit(X_train.reshape(X_train.shape[0],-1),y_train.reshape(y_train.shape[0],-1))

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:921: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=True, epsilon=1e-08,
              hidden_layer_sizes=(100, 50), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=2, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [49]:
nn.score(X_train.reshape(X_train.shape[0],-1),y_train.reshape(y_train.shape[0],-1))

0.9410112359550562

In [57]:
X_=nn.predict(X_test.reshape(X_test.shape[0],-1))

In [101]:
Y_=y_test

In [103]:
list1=[]

In [104]:
for i in X_:
    list1.append(label2pokemon[i])

In [111]:
list1=np.array(list1)

In [112]:
list1

array(['Pikachu', 'Meowth', 'Pikachu', 'Pikachu', 'Meowth', 'Bulbasaur',
       'Pikachu', 'Pikachu', 'Bulbasaur', 'Meowth', 'Pikachu', 'Meowth',
       'Bulbasaur', 'Pikachu', 'Pikachu', 'Bulbasaur', 'Bulbasaur',
       'Pikachu', 'Meowth', 'Pikachu', 'Bulbasaur', 'Bulbasaur', 'Meowth',
       'Meowth', 'Bulbasaur', 'Pikachu', 'Bulbasaur', 'Pikachu',
       'Bulbasaur', 'Bulbasaur', 'Meowth', 'Pikachu', 'Bulbasaur',
       'Bulbasaur', 'Bulbasaur', 'Bulbasaur', 'Pikachu', 'Meowth',
       'Pikachu', 'Pikachu', 'Pikachu', 'Pikachu', 'Meowth', 'Pikachu',
       'Bulbasaur', 'Pikachu', 'Pikachu', 'Pikachu', 'Pikachu',
       'Bulbasaur', 'Bulbasaur', 'Pikachu', 'Pikachu', 'Pikachu',
       'Pikachu', 'Bulbasaur', 'Bulbasaur', 'Pikachu', 'Bulbasaur',
       'Bulbasaur', 'Pikachu', 'Bulbasaur', 'Bulbasaur', 'Pikachu',
       'Pikachu', 'Bulbasaur', 'Bulbasaur', 'Bulbasaur', 'Pikachu',
       'Bulbasaur', 'Pikachu', 'Bulbasaur', 'Pikachu', 'Bulbasaur',
       'Pikachu', 'Bulbasaur', 'Pikachu', 'Meowth', 'Meowth', 'Bulbasaur',
       'Bulbasaur', 'Pikachu', 'Bulbasaur', 'Bulbasaur', 'Bulbasaur',
       'Bulbasaur', 'Bulbasaur', 'Meowth', 'Pikachu'], dtype='<U9')

In [114]:
list2=[]

In [115]:
for i in Y_:
    list2.append(label2pokemon[i])

In [127]:
list2=np.array(list2)

In [55]:
nn.score(X_test.reshape(X_test.shape[0],-1),y_test.reshape(y_test.shape[0],-1))

0.8426966292134831

In [130]:
type(list1)

numpy.ndarray

In [1]:
import pandas as pd

In [79]:
column=['predicted']
original=['original']

In [139]:
dfx=pd.DataFrame(data=list1,columns=column)

In [140]:
dfy=pd.DataFrame(data=list2,columns=original)

In [151]:
dfx.reset_index(drop=True,inplace=True)
dfy.reset_index(drop=True,inplace=True)

In [152]:
dfy.head(20)

     original
0     Pikachu
1      Meowth
2     Pikachu
3     Pikachu
4      Meowth
5   Bulbasaur
6     Pikachu
7     Pikachu
8   Bulbasaur
9      Meowth
10    Pikachu
11     Meowth
12  Bulbasaur
13    Pikachu
14    Pikachu
15  Bulbasaur
16  Bulbasaur
17    Pikachu
18    Pikachu
19     Meowth

In [153]:
dfx.head(20)

    predicted
0     Pikachu
1      Meowth
2     Pikachu
3     Pikachu
4      Meowth
5   Bulbasaur
6     Pikachu
7     Pikachu
8   Bulbasaur
9      Meowth
10    Pikachu
11     Meowth
12  Bulbasaur
13    Pikachu
14    Pikachu
15  Bulbasaur
16  Bulbasaur
17    Pikachu
18     Meowth
19    Pikachu

In [154]:
frames=[dfx,dfy]

In [157]:
result=pd.concat(frames,axis=1)

In [158]:
result

    predicted   original
0     Pikachu    Pikachu
1      Meowth     Meowth
2     Pikachu    Pikachu
3     Pikachu    Pikachu
4      Meowth     Meowth
..        ...        ...
84  Bulbasaur    Pikachu
85  Bulbasaur  Bulbasaur
86  Bulbasaur  Bulbasaur
87     Meowth     Meowth
88    Pikachu    Pikachu

[89 rows x 2 columns]